.menyylink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.pealkiri1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #800000; FONT-FAMILY: Verdana
}
.tekst1 {
	FONT-SIZE: 10px; COLOR: #595959; LINE-HEIGHT: 17px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tekst2 {
	FONT-SIZE: 11px; COLOR: #595959; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.pealkiri1 {
	
}
.pealkiri-kuup2ev {
	FONT-SIZE: 10px; COLOR: #595959; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.pealkiri2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003471; FONT-FAMILY: Verdana
}
.salasona1 {
	FONT-SIZE: 10px; COLOR: #a6a6a6; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.inpt {
	FONT-SIZE: 11px; COLOR: #595959; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.rada1 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.pealkiri3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003471; FONT-FAMILY: Verdana
}
.tekst3 {
	FONT-SIZE: 11px; COLOR: #9d0e0e; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.tekst4 {
	FONT-SIZE: 12px; COLOR: #595959; LINE-HEIGHT: 17px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.person1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fcdc48; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.person2 {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.pealkiri4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #595959; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica
}
